{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "target": "es2023",
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "keepClassNames": true,
    "baseUrl": ".",
    "paths": {
      "@/*": ["src/*"],
      "@common/*": ["src/common/*"],
      "@domains/*": ["src/domains/*"],
      "@infrastructure/*": ["src/infrastructure/*"],
      "@api/*": ["src/api/*"],
      "@tests/*": ["tests/*"]
    }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true
}
